.contact-info a:hover {
    color: #00bcd4;
    transform: translateY(-2px);
  }
  .nav-links li a:hover {
    color: #00bcd4;
    border-bottom: 2px solid #00bcd4;
  }
  
.logo img {
    height: 50px;
}